In [1]:
import numpy as np
import pandas as pd

In [21]:
cardio = pd.read_csv("../data/raw/cardio.csv")
cardio = cardio.iloc[:, 1:]
cardio

# cardio.to_csv("../data/raw/cardio.csv", sep=",", index=False)

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,17474,1,156,56.0,100,60,1,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
69995,19240,2,168,76.0,120,80,1,1,1,0,1,0
69996,22601,1,158,126.0,140,90,2,2,0,0,1,1
69997,19066,2,183,105.0,180,90,3,1,0,1,0,1
69998,22431,1,163,72.0,135,80,1,2,0,0,0,1
69999,20540,1,170,72.0,120,80,2,1,0,0,1,0

In [6]:
cardio.columns.tolist()

['id',
 'age',
 'gender',
 'height',
 'weight',
 'ap_hi',
 'ap_lo',
 'cholesterol',
 'gluc',
 'smoke',
 'alco',
 'active',
 'cardio']

In [7]:
target_col = "cardio"

In [8]:
# Identify numerical columns (excluding the target column)
num_col_idx = [i for i, col in enumerate(cardio.columns) if pd.api.types.is_numeric_dtype(cardio[col]) and col != target_col]

# Identify categorical columns (excluding the target column)
cat_col_idx = [i for i, col in enumerate(cardio.columns) if pd.api.types.is_object_dtype(cardio[col]) and col != target_col]

# Identify target column index
target_col_idx = [cardio.columns.get_loc(target_col)]

In [9]:
num_col_idx

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [10]:
target_col_idx

[12]

In [23]:
diabetes =  pd.read_csv("../data/raw/diabetes.csv")
diabetes

     preg  plas  pres  skin  insu  mass   pedi  age               class
0       6   148    72    35     0  33.6  0.627   50  b'tested_positive'
1       1    85    66    29     0  26.6  0.351   31  b'tested_negative'
2       8   183    64     0     0  23.3  0.672   32  b'tested_positive'
3       1    89    66    23    94  28.1  0.167   21  b'tested_negative'
4       0   137    40    35   168  43.1  2.288   33  b'tested_positive'
..    ...   ...   ...   ...   ...   ...    ...  ...                 ...
763    10   101    76    48   180  32.9  0.171   63  b'tested_negative'
764     2   122    70    27     0  36.8  0.340   27  b'tested_negative'
765     5   121    72    23   112  26.2  0.245   30  b'tested_negative'
766     1   126    60     0     0  30.1  0.349   47  b'tested_positive'
767     1    93    70    31     0  30.4  0.315   23  b'tested_negative'

[768 rows x 9 columns]

In [32]:
diabetes.columns.tolist()

['preg', 'plas', 'pres', 'skin', 'insu', 'mass', 'pedi', 'age', 'class']

In [28]:
# Identify numerical columns (excluding the target column)
num_col_idx = [i for i, col in enumerate(diabetes.columns) if pd.api.types.is_numeric_dtype(diabetes[col]) and col != target_col]

# Identify categorical columns (excluding the target column)
cat_col_idx = [i for i, col in enumerate(diabetes.columns) if pd.api.types.is_object_dtype(diabetes[col]) and col != target_col]

# Identify target column index
target_col_idx = [diabetes.columns.get_loc(target_col)]

In [29]:
num_col_idx

[0, 1, 2, 3, 4, 5, 6, 7]

In [31]:
cat_col_idx
target_col_idx

[8]

# Intrusion Data

In [33]:
intrusion = pd.read_csv("../data/raw/intrusion.csv")
intrusion

,duration,protocol_type,service,flag,src_bytes,dst_bytes,land,wrong_fragment,urgent,hot,...,dst_host_srv_count,dst_host_same_srv_rate,dst_host_diff_srv_rate,dst_host_same_src_port_rate,dst_host_srv_diff_host_rate,dst_host_serror_rate,dst_host_srv_serror_rate,dst_host_rerror_rate,dst_host_srv_rerror_rate,class
0,0,tcp,ftp_data,SF,491,0,0,0,0,0,...,25,0.17,0.03,0.17,0.00,0.00,0.00,0.05,0.00,normal
1,0,udp,other,SF,146,0,0,0,0,0,...,1,0.00,0.60,0.88,0.00,0.00,0.00,0.00,0.00,normal
2,0,tcp,private,S0,0,0,0,0,0,0,...,26,0.10,0.05,0.00,0.00,1.00,1.00,0.00,0.00,anomaly
3,0,tcp,http,SF,232,8153,0,0,0,0,...,255,1.00,0.00,0.03,0.04,0.03,0.01,0.00,0.01,normal
4,0,tcp,http,SF,199,420,0,0,0,0,...,255,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25187,0,tcp,exec,RSTO,0,0,0,0,0,0,...,7,0.03,0.06,0.00,0.00,0.00,0.00,1.00,1.00,anomaly
25188,0,tcp,ftp_data,SF,334,0,0,0,0,0,...,39,1.00,0.00,1.00,0.18,0.00,0.00,0.00,0.00,anomaly
25189,0,tcp,private,REJ,0,0,0,0,0,0,...,13,0.05,0.07,0.00,0.00,0.00,0.00,1.00,1.00,anomaly
25190,0,tcp,nnsp,S0,0,0,0,0,0,0,...,20,0.08,0.06,0.00,0.00,1.00,1.00,0.00,0.00,anomaly
25191,0,tcp,finger,S0,0,0,0,0,0,0,...,49,0.19,0.03,0.01,0.00,1.00,1.00,0.00,0.00,anomaly

In [34]:
intrusion.columns.tolist()

['duration',
 'protocol_type',
 'service',
 'flag',
 'src_bytes',
 'dst_bytes',
 'land',
 'wrong_fragment',
 'urgent',
 'hot',
 'num_failed_logins',
 'logged_in',
 'num_compromised',
 'root_shell',
 'su_attempted',
 'num_root',
 'num_file_creations',
 'num_shells',
 'num_access_files',
 'num_outbound_cmds',
 'is_host_login',
 'is_guest_login',
 'count',
 'srv_count',
 'serror_rate',
 'srv_serror_rate',
 'rerror_rate',
 'srv_rerror_rate',
 'same_srv_rate',
 'diff_srv_rate',
 'srv_diff_host_rate',
 'dst_host_count',
 'dst_host_srv_count',
 'dst_host_same_srv_rate',
 'dst_host_diff_srv_rate',
 'dst_host_same_src_port_rate',
 'dst_host_srv_diff_host_rate',
 'dst_host_serror_rate',
 'dst_host_srv_serror_rate',
 'dst_host_rerror_rate',
 'dst_host_srv_rerror_rate',
 'class']

In [35]:
# Identify numerical columns (excluding the target column)
num_col_idx = [i for i, col in enumerate(intrusion.columns) if pd.api.types.is_numeric_dtype(intrusion[col]) and col != target_col]

# Identify categorical columns (excluding the target column)
cat_col_idx = [i for i, col in enumerate(intrusion.columns) if pd.api.types.is_object_dtype(intrusion[col]) and col != target_col]

# Identify target column index
target_col_idx = [intrusion.columns.get_loc(target_col)]

In [49]:
from sdv.metadata import SingleTableMetadata

metadata_intrusion = SingleTableMetadata()
metadata_intrusion.detect_from_csv("../data/raw/intrusion.csv")
metadata_intrusion

{
    "columns": {
        "duration": {
            "sdtype": "numerical"
        },
        "protocol_type": {
            "sdtype": "categorical"
        },
        "service": {
            "sdtype": "categorical"
        },
        "flag": {
            "sdtype": "categorical"
        },
        "src_bytes": {
            "sdtype": "numerical"
        },
        "dst_bytes": {
            "sdtype": "numerical"
        },
        "land": {
            "sdtype": "categorical"
        },
        "wrong_fragment": {
            "sdtype": "categorical"
        },
        "urgent": {
            "sdtype": "categorical"
        },
        "hot": {
            "sdtype": "numerical"
        },
        "num_failed_logins": {
            "sdtype": "categorical"
        },
        "logged_in": {
            "sdtype": "categorical"
        },
        "num_compromised": {
            "sdtype": "numerical"
        },
        "root_shell": {
            "sdtype": "categorical"
        },
        "su_attempted": {
            "sdtype": "categorical"
        },
        "num_root": {
            "sdtype": "numerical"
        },
        "num_file_creations": {
            "sdtype": "numerical"
        },
        "num_shells": {
            "sdtype": "categorical"
        },
        "num_access_files": {
            "sdtype": "categorical"
        },
        "num_outbound_cmds": {
            "sdtype": "categorical"
        },
        "is_host_login": {
            "sdtype": "categorical"
        },
        "is_guest_login": {
            "sdtype": "categorical"
        },
        "count": {
            "sdtype": "numerical"
        },
        "srv_count": {
            "sdtype": "numerical"
        },
        "serror_rate": {
            "sdtype": "numerical"
        },
        "srv_serror_rate": {
            "sdtype": "numerical"
        },
        "rerror_rate": {
            "sdtype": "numerical"
        },
        "srv_rerror_rate": {
            "sdtype": "numerical"
        },
        "same_srv_rate": {
            "sdtype": "numerical"
        },
        "diff_srv_rate": {
            "sdtype": "numerical"
        },
        "srv_diff_host_rate": {
            "sdtype": "numerical"
        },
        "dst_host_count": {
            "sdtype": "numerical"
        },
        "dst_host_srv_count": {
            "sdtype": "numerical"
        },
        "dst_host_same_srv_rate": {
            "sdtype": "numerical"
        },
        "dst_host_diff_srv_rate": {
            "sdtype": "numerical"
        },
        "dst_host_same_src_port_rate": {
            "sdtype": "numerical"
        },
        "dst_host_srv_diff_host_rate": {
            "sdtype": "numerical"
        },
        "dst_host_serror_rate": {
            "sdtype": "numerical"
        },
        "dst_host_srv_serror_rate": {
            "sdtype": "numerical"
        },
        "dst_host_rerror_rate": {
            "sdtype": "numerical"
        },
        "dst_host_srv_rerror_rate": {
            "sdtype": "numerical"
        },
        "class": {
            "sdtype": "categorical"
        }
    },
    "METADATA_SPEC_VERSION": "SINGLE_TABLE_V1"
}

In [36]:
num_col_idx

[0,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40]

In [37]:
cat_col_idx

[1, 2, 3]

In [38]:
target_col_idx

[41]

# Covertype

In [39]:
covtype = pd.read_csv("../data/raw/covtype.csv")
covtype

,Elevation,Aspect,Slope,Horizontal_Distance_To_Hydrology,Vertical_Distance_To_Hydrology,Horizontal_Distance_To_Roadways,Hillshade_9am,Hillshade_Noon,Hillshade_3pm,Horizontal_Distance_To_Fire_Points,...,Soil_Type32,Soil_Type33,Soil_Type34,Soil_Type35,Soil_Type36,Soil_Type37,Soil_Type38,Soil_Type39,Soil_Type40,Cover_Type
0,2596,51,3,258,0,510,221,232,148,6279,...,0,0,0,0,0,0,0,0,0,5
1,2590,56,2,212,-6,390,220,235,151,6225,...,0,0,0,0,0,0,0,0,0,5
2,2804,139,9,268,65,3180,234,238,135,6121,...,0,0,0,0,0,0,0,0,0,2
3,2785,155,18,242,118,3090,238,238,122,6211,...,0,0,0,0,0,0,0,0,0,2
4,2595,45,2,153,-1,391,220,234,150,6172,...,0,0,0,0,0,0,0,0,0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
581007,2396,153,20,85,17,108,240,237,118,837,...,0,0,0,0,0,0,0,0,0,3
581008,2391,152,19,67,12,95,240,237,119,845,...,0,0,0,0,0,0,0,0,0,3
581009,2386,159,17,60,7,90,236,241,130,854,...,0,0,0,0,0,0,0,0,0,3
581010,2384,170,15,60,5,90,230,245,143,864,...,0,0,0,0,0,0,0,0,0,3
581011,2383,165,13,60,4,67,231,244,141,875,...,0,0,0,0,0,0,0,0,0,3

In [40]:
covtype.columns.tolist()

['Elevation',
 'Aspect',
 'Slope',
 'Horizontal_Distance_To_Hydrology',
 'Vertical_Distance_To_Hydrology',
 'Horizontal_Distance_To_Roadways',
 'Hillshade_9am',
 'Hillshade_Noon',
 'Hillshade_3pm',
 'Horizontal_Distance_To_Fire_Points',
 'Wilderness_Area1',
 'Wilderness_Area2',
 'Wilderness_Area3',
 'Wilderness_Area4',
 'Soil_Type1',
 'Soil_Type2',
 'Soil_Type3',
 'Soil_Type4',
 'Soil_Type5',
 'Soil_Type6',
 'Soil_Type7',
 'Soil_Type8',
 'Soil_Type9',
 'Soil_Type10',
 'Soil_Type11',
 'Soil_Type12',
 'Soil_Type13',
 'Soil_Type14',
 'Soil_Type15',
 'Soil_Type16',
 'Soil_Type17',
 'Soil_Type18',
 'Soil_Type19',
 'Soil_Type20',
 'Soil_Type21',
 'Soil_Type22',
 'Soil_Type23',
 'Soil_Type24',
 'Soil_Type25',
 'Soil_Type26',
 'Soil_Type27',
 'Soil_Type28',
 'Soil_Type29',
 'Soil_Type30',
 'Soil_Type31',
 'Soil_Type32',
 'Soil_Type33',
 'Soil_Type34',
 'Soil_Type35',
 'Soil_Type36',
 'Soil_Type37',
 'Soil_Type38',
 'Soil_Type39',
 'Soil_Type40',
 'Cover_Type']

In [42]:
target_col = "Cover_Type"

In [43]:
# Identify numerical columns (excluding the target column)
num_col_idx = [i for i, col in enumerate(covtype.columns) if pd.api.types.is_numeric_dtype(covtype[col]) and col != target_col]

# Identify categorical columns (excluding the target column)
cat_col_idx = [i for i, col in enumerate(covtype.columns) if pd.api.types.is_object_dtype(covtype[col]) and col != target_col]

# Identify target column index
target_col_idx = [covtype.columns.get_loc(target_col)]

In [44]:
num_col_idx

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53]

In [45]:
cat_col_idx

[]

In [46]:
target_col_idx

[54]

In [ ]:
# Theils U.